<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflowClone</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logo = "<%= image_url('queue_logo.png') %>"
    </script>
    <script src="https://kit.fontawesome.com/eb28cc37ba.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
